MONGODB_USER=
MONGODB_PASSWORD=
MONGODB_URL=
MONGODB_DB=
PORT=

SMTP_HOST=brevo data
SMTP_PORT=brevo data
SMTP_USER=brevo data
SMTP_PASSWORD=brevo data
SMTP_FROM=brevo data

JWT_SECRET=random secret for token
APP_DOMAIN=

CLOUD_NAME=cloudinary cloud name
API_KEY=cloudinary api key
API_SECRET=cloudinary api secret

ENABLE_CLOUDINARY=

GOOGLE_AUTH_CLIENT_ID=
GOOGLE_AUTH_CLIENT_SECRET=
